/* redéfinition du CSS #content_page (ajout du Background) */
#content_page {
    /*background: url('../images/metaciv_bg-1351x500.jpg') no-repeat;
    background-position: top left;
    background-size: 100%;*/
    background-color: lightyellow;
    
}

#content_page #content {
    padding-bottom: 10px;
}