.actif a {
    color: black;
}

.h1-header {
    padding: 0px 0px 0px 10px;
    margin: 0px;
    line-height: 100px;
}

#metaciv, #warbot {
    float:left;
    text-align: left;
    min-height: 400px;
}

.img-presentation img {
    width: 100%;
}

.img-presentation {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    border: 3px solid #EDEDED;
}

.img-presentation:hover {
    border: 3px solid lightgrey;
}

.txt-presentation {
    margin-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

#liste-game {
    text-align: center;
}

.clear {
    clear: both;
}

hr
{
  border-color: lightgrey;
  margin: 3px 0px 10px 0px;
}

#page-warbot-home {

}

#page-warbot-home #content {
    background: transparent;
}

#page-compte-index {
    
}

#page-compte-index .avatar-compte {
    float: left;
}

#page-compte-index .avatar-compte img {
    width: 200px;
    max-height: 200px;
    border: 3px solid lightgrey;
}

#page-compte-index .information-compte {
    float: left;
    margin-left: 20px;
}

#page-compte-index .information-compte h3 {
    margin: 0px;
}