/* redéfinition du CSS #content_page (ajout du Background) */
#content_page {
   /* background: url('../images/warbot_bg-1351x500.jpg') no-repeat;
    background-position: top left;
    background-size: 100%;*/
   background-color:#4b4b4b;
   
}

#content_page #content {
    color:white;
    padding-bottom: 10px;
}