{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block title %} WebMeta - Metaciv {% endblock %}

{% block content %} 
    <div id="page-contact-form">
        <h2>TODO : </h2>
        <ul>
            <li>- Formulaire de contact</li>
            <li>- Envoi d'email</li>
        </ul>

    </div>
 {% endblock %}

{# Sidebar vide #}
{% block sidebar %} {% endblock %}
