{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block title %} WebMeta - Metaciv {% endblock %}

{% block content %} 
    <section id="content" class="col-md-12">
        <div id="page-documentation" class="col-md-10">
            <h2>TODO : </h2>
            <ul>
                <li>- Affichage de la doc tirée de la BDD</li>
                <li>- IUD Documentation</li>
            </ul>
        </div>
    </section>    
 {% endblock %}

{# Sidebar vide #}
{% block sidebar %} {% endblock %}