{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block title %} WebMeta - Faq {% endblock %}

{% block content %} 
    <div id="page-faq">
        <h1>Questions fréquemment posées</h1>
        <ul>
        {% for page in liste_page %}
            <li> <a href="{{ path('page_view', {'id': page.getId, 'url_alias': page.getUrlAlias, 'nom_categorie': page.getNomCategorie|lower|replace({ (' '): '' })}) }}" title="{{page.getNomLien}}"/>{{page.getNomLien}}</a></li>
        {% endfor %}
        </ul>
    </div>
 {% endblock %}

{# Sidebar vide #}
{% block sidebar %} 
{# TODO Liste de toute les pages faq #}
{% endblock %}
