{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block title %} WebMeta - Metaciv {% endblock %}

{% block content %} 
    <section id="content" class="col-md-12">
        <div id="page-faq" class="col-md-10">
            <h2>TODO : </h2>
            <ul>
                <li>- Demander liste des questions fréquemment posées</li>
                <li>- les intégrer en BDD les affichées</li>
                <li>- IUD FAQ</li>
            </ul>
        </div>
    </section>    
 {% endblock %}

{# Sidebar vide #}
{% block sidebar %} {% endblock %}
