{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block script_extend %}
    <script src="{{ asset('bundles/webmetacommon/vendor/tinymce/tinymce.min.js') }}"></script>
{% endblock %}   

{% block title %} WebMeta - Formulaire de création d'une page {% endblock %}

{% block content %} 
    <div id="page-creation-compte">
        <h1>Formulaire de création d'une page</h1>
        {# Messages - (Notice, Erreur) #}
        {% include 'WebMetaCommonBundle:Default:message.html.twig' %}

        <script src="{{ asset('bundles/webmetacommon/js/tinymce_config.js') }}"></script>
        {{ form(form, {'action': path('page_creation_validation'), 'method': 'POST'}) }}
    </div>
 {% endblock %}

{# Sidebar vide #}
{% block sidebar %} {% endblock %}