{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block title %} WebMeta - {{page.getTitre}} {% endblock %}

{% block content %} 
    <div id="page">
        {{page.getContenu | raw}}
        <p><a href="#" onclick="window.history.back();" title="">Retour</a></p>
    </div>
 {% endblock %}

{# Sidebar vide #}
{% block sidebar %} 
{# TODO Liste de toute les pages #}
{% endblock %}
