{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block title %} WebMeta - {{page.getTitre}} {% endblock %}

{% block content %} 
    <section id="content" class="col-md-10">
        <div id="page-metaciv-home" class="col-md-10">
            {{page.getContenu | raw}}
        </div>
    </section>    
 {% endblock %}

{# Sidebar vide #}
{% block sidebar %} 
{# TODO Liste de toute les pages #}
{% endblock %}
