{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block title %} WebMeta - Warbot {% endblock %}

{% block content %} 
    <section id="content" class="col-md-10">
        <div id="page-warbot-home" class="col-md-10">
            <h2>TODO : </h2>
            <ul>
                <li>- Page d'accueil Warbot</li>
                <li>- Vidéo de démo</li>
                <li>- Texte de présentation</li>
            </ul>
        </div>
    </section>    
 {% endblock %}