################ Common ################
# Page d'accueil du site
common_homepage:
    pattern:  /
    defaults: { _controller: WebMetaCommonBundle:Default:index }
    
# Page de documentation
common_documentation:
    pattern:  /documentation
    defaults: { _controller: WebMetaCommonBundle:Default:documentation }
    
# Page de tutoriels
common_tutoriels:
    pattern:  /tutoriels
    defaults: { _controller: WebMetaCommonBundle:Default:tutoriels }

# Page de FAQ (Frequently Asked Questions)
common_faq:
    pattern:  /faq
    defaults: { _controller: WebMetaCommonBundle:Default:faq }
 
# Page de contact (formulaire)    
common_contact:
    pattern:  /contact
    defaults: { _controller: WebMetaCommonBundle:Default:contact }
    
################ Compte ################
# Page de création de compte (formulaire)    
compte_creation:
    pattern:  /creation-compte
    defaults: { _controller: WebMetaCommonBundle:Compte:creation }
    
# Page de validation du compte
compte_creation_validation:
    pattern:  /creation-compte-validation
    defaults: { _controller: WebMetaCommonBundle:Compte:validation }
    
# Affiche la page du compte
compte_view:
    pattern:  /mon-compte
    defaults: { _controller: WebMetaCommonBundle:Compte:index }
    
################ Login ################
# Connexion


################ Page ################
# Affiche une page créée et son contenu
page_view:
    pattern:  /{nom_categorie}/page/{id}-{url_alias}
    defaults: { _controller: WebMetaCommonBundle:Page:view }
    
# Page de création d'une page
page_creation:
    pattern:  /creation-page
    defaults: { _controller: WebMetaCommonBundle:Page:creation }

# Page de validation de la page
page_creation_validation:
    pattern:  /creation-page-validation
    defaults: { _controller: WebMetaCommonBundle:Page:validation }
    
################ Warbot ################
# Page d'accueil de Warbot    
warbot_homepage:
    pattern:  /warbot
    defaults: { _controller: WebMetaCommonBundle:Warbot:index }
    
# Page de documentation de Warbot
warbot_documentation:
    pattern:  /warbot-documentation
    defaults: { _controller: WebMetaCommonBundle:Warbot:documentation }

#Page de tournoi warbot
warbot_tournoi:
    pattern: /warbot-tournoi
    defaults: { _controller: WebMetaCommonBundle:Warbot:tournoi }

################ Metaciv ################   
# Page d'accueil de Metaciv
metaciv_homepage:
    pattern:  /metaciv
    defaults: { _controller: WebMetaCommonBundle:Metaciv:index }
    
# Page de documentation de Metaciv
metaciv_documentation:
    pattern:  /metaciv-documentation
    defaults: { _controller: WebMetaCommonBundle:Metaciv:documentation }

