{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block title %} WebMeta - Ressource {% endblock %}

{% block content %} 
    <div id="page-ressource-index">
        <h1>Ressources</h1>

        {# Messages - (Notice, Erreur) #}
        {% include 'WebMetaCommonBundle:Default:message.html.twig' %}

        
        <div class="presentation-equipe col-md-12">
            <h3>Warbot</h3>
            <ul>
                <li></li>
            </ul>
        </div>
        
        
        <div class="presentation-equipe col-md-12">
            <h3>Metaciv</h3>
            <ul>
                <li></li>
            </ul>
        </div>
        
    </div>
{% endblock %}

{% block sidebar %} 
    <h1>Menu</h1>

{% endblock %}
