{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block stylesheet_extend %}
    <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/css/warbot.css') }}" />
{% endblock %}   

{% form_theme form "WebMetaCommonBundle:Tournoi:form.html.twig" %}


{% block title %} WebMeta - Formulaire de création d'un Tournoi {% endblock %}

{% block content %}
  <h1>formulaire de création de Tournoi</h1>
    {# Messages - (Notice, Erreur) #}
    {% include 'WebMetaCommonBundle:Default:message.html.twig' %}
    {{ form(form,{'action': path('tournoi_creation_validation'), 'method': 'POST'}) }}


{% endblock %}