{% extends "WebMetaCommonBundle::layout.html.twig" %}
{% form_theme form "WebMetaCommonBundle:Tournoi:form.html.twig" %}


{% block title %} WebMeta - Formulaire de création d'un Tournoi {% endblock %}

{% block content %}
  <h1>formulaire de création de Tournoi</h1>
  {{ form(form,{'action': path('tournoi_creation_validation'), 'method': 'POST'}) }}


{% endblock %}