{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block title %} WebMeta - Warbot {% endblock %}

{% block content %}
    <div id="page-warbot-gestion">
        <center><h1>{{ tournoi.getNom }}</h1></center>
        <h1>rencontres</h1>
            {% block rencontres %}
                <a href="{{ path('tournoi_coupe')}}">tableau des rencontres</a>
            {% endblock %}
        <h1>liste des participants</h1>
               <ul>
                {% for team in liste_team %}
                    <li>{{ team.getIdInvite()}}</li>
                {% endfor %}
               </ul>
        {# Messages - (Notice, Erreur) #}
        {% include 'WebMetaCommonBundle:Default:message.html.twig' %}
        {{ form(formInvitation) }}
    </div>

{% endblock %}

{% block sidebar %}

{% endblock %}